body{
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    background-color: #1F2937;
}
h1{
    color: #F9FAF8;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
ul{
    display: flex;
    padding: 0;
    gap: 16px;
}
a:link,
a:hover,
a:visited{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container1{
    display: flex;
    background-color: #1F2937;
    padding: 100px 150px;
    justify-content: space-between;
    gap: 30px;
}
.info1{
    max-width: 350px;
}
.container1 h2{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    
}
.info1 p{
    color: #F9FAF8;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-holder{
    display: flex;
    color: #F9FAF8;
    background-color: #7f7f81;
    justify-content: center;
    align-items: center;
    padding: 70px 100px;
}
.image-holder p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F9FAF8;
}

.info1 button{
    color: #F9FAF8;
    font-size: 14px;
    margin: 8px;
    background-color: #3882F6;
    padding: 5px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    border: none;

}

.container2{
    display: flex;
    flex-direction: column;
    padding: 20px 175px;
}

.container2 h2{
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.info2{
    display: flex;
    margin-top: 30px;
    gap: 12px;
    margin-bottom: 80px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blank{
    width: 80px;
    height: 80px;
    border: 3px solid #3882F6;
    padding: 40px;
    border-radius: 15px;
}
.box p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    align-self: center;
    margin: 0;
}

.person{
    align-self:flex-end;
    font-weight: bold;
    font-size: 24px;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 140px;
    background-color: #3882F6;
    margin: 100px;
    border-radius: 15px;
}

.header3 h3{
    color: #F9FAF8;
    margin: 0;
}
.header3 p{
    color: #F9FAF8;
    margin: 0;
}
.signup button{
    color: #F9FAF8;
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
}

.footer{
    background-color: #1F2937;
    padding: 25px;
    display: flex;
    justify-content: center;
}
.footer p{
    color: #F9FAF8;
}