body{
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    background-color: #1F2937;
}
h1{
    color: #F9FAF8;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
ul{
    display: flex;
    padding: 0;
    gap: 16px;
}
a:link,
a:hover,
a:visited{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container1{
    display: flex;
    background-color: #1F2937;
    padding: 100px 150px;
    justify-content: space-between;
    gap: 30px;
}
.info1{
    max-width: 350px;
}
.container1 h2{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    
}
.info1 p{
    color: #F9FAF8;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-holder{
    display: flex;
    color: #F9FAF8;
    background-color: #7f7f81;
    justify-content: center;
    align-items: center;
    padding: 70px 100px;
}
.image-holder p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F9FAF8;
}

.info1 button{
    color: #F9FAF8;
    font-size: 14px;
    margin: 8px;
    background-color: #3882F6;
    padding: 5px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    border: none;

}